---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ['nightly']

    steps:
      - uses: actions/checkout@v3

      # Clear any cached luarocks/busted installations
      - name: Clear luarocks cache
        run: |
          rm -rf ~/.luarocks
          rm -rf .luarocks

      - name: Run tests
        uses: nvim-neorocks/nvim-busted-action@v1
        with:
          nvim_version: ${{ matrix.neovim_version }}
